@keyframes blink {
  0% {
    opacity: .2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}

.spinner {
  display: inline-flex;
  align-items: center;
  color: $dark;
  font-size: 1.25rem;
  width: 100%;
  justify-content: center;
  margin: 1rem 0;

  &__text {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  &__dot {
    animation: blink 1.5s infinite both;

    &:nth-child(2) {
      animation-delay: .2s;
    }

    &:nth-child(3) {
      animation-delay: .4s;
    }
  }

  .icon {
    animation: spin 2s linear infinite;
  }
}