language: node_js

node_js:
  - "stable"

cache:
  directories:
   - node_modules

script:
  - yarn test:coverage
  - yarn build

after_script:
  - COVERALLS_REPO_TOKEN=$COVERALLS_REPO_TOKEN yarn coveralls